.h-employee {
  overflow: hidden;
  position: relative;
  // max-width: 1280px;
  height: calc(100vh - 75px);
  margin: 0 auto;
}

.left-card {
  min-width: 345px !important;
  max-width: 370px !important;
  height: calc(100vh - 100px);
}



.menu-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.menu-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
  cursor: grab;
  // padding: 0 0 0 30px; /* Adjust based on button width */
}

.menu:active {
  cursor: grabbing;
}

.menu-item {
  display: inline-block;
  padding: 10px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}

.all-btn {
  position: absolute;
  right: -60px;
  top: 50%;
  transform: translateY(-50%);
}
